html {
    height: 100%;
    box-sizing: border-box;
}


body {
    position: relative;
    margin: 0;
    padding-bottom: 10em;
    min-height: 100%;
    font-family: Ubuntu, Tahoma, sans-serif;
	background-color:white;
    color: #000000;
	text-align: center;
}



h1 {
    margin-top: 0;
    margin-bottom: 0;
    background-color: darkblue;
    color: #fff;
    text-transform: uppercase;
    padding: 50px 0;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}

h2 {
    background-color: white;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
	text-align: center;
}


footer {
    padding: 1em 2em;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    font-family: "Titillium Web", serif;
    color: white;
    background-color: black;
}


section p {
    text-align: center;
}

section input {
    border-radius: 15px;
    color: black;
    background-color: #5555ff;
    font-size: 150%;
	
}


section p {
    padding: 0;
    margin: 0;
}

footer a {
    font-weight: bold;
	background-color:black;
    color: white;
    text-decoration: none;
}

footer address {
    padding-left: 0.2em;
    float: left;
    width: 80%;
}

section table {
    border-collapse: collapse;
    width: 100%;
	color:black;
    background-color: white;
	text-align: center;
}

section th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
s th {
    background-color: #5555ff;
	color: #ffffff;
}
