html {
    height: 100%;
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 10em;
    min-height: 100%;
    font-family: Ubuntu, Tahoma, sans-serif;
    color: #000000;
	background: #FFFFFF;
}
main {
    width: 100%;
	height:100%;
}

h2 {
    color: #fff;
	background: #505050;
	font-size:25px;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    color: #fff;
	background: #505050;
    text-transform: uppercase;
    padding: 50px 0;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}

footer {
    padding: 1em 2em;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin-top: 5em;
    font-family: "Titillium Web", serif;
    color: white;
    background-color: black;
}

footer p {
    padding: 0;
    margin: 0;
}

footer a {
    font-weight: bold;
    color: white;
	background: #505050;
    text-decoration: none;
}

footer address {
    padding-left: 0.2em;
    float: left;
    width: 80%;
}

section {
    margin: 5% auto 0;
    width: 75%;
	height: 75%;
    padding: 2.5%;
	color: #000000;
    background: #505050;
    border-radius: 15px;
}

section input {
    border-radius: 15px;
}


section p {
	color: white;
    background-color: #505050;
    height: 50%;
	font-size:30px;
}

section input[type=button] {
    width: 24%;
	height:50%;
	font-size:25px;
}

section input[type=text] {
    width: 90%;
	font-size:25px;
    padding-left: 5%;
	color:black;
    background-color: white;
}

label{
	background-color: #505050;
	color:white;
}

.operacion {
    background-color: red;
    color: #000000;
}

.resultado{
    background-color: #3E7C90;
    color: white;
}

.numero {
    color: white;
    background-color: #3E7C90;
}

.memoria {
    background-color: #364D62;
    color: white;
}
