html {
    height: 100%;
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 10em;
    min-height: 100%;
    font-family: Verdana, sans-serif;
    color: #000000;
	background-color: #FFFFFF;
}

main {
    margin: 0 auto;
    width: 100%;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    background-color: darkblue;
    color: #fff;
    text-transform: uppercase;
    padding: 50px 0;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}
h2 {
    background-color: #000;
    color: #fff;
}

p{
    background-color: black;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
}

section {
    margin: 5% auto 0;
    width: 50%;
    padding: 2.5%;
	color:white;
    background-color: black;
    border-radius: 15px;
    box-sizing: inherit;
}

section input[type=button] {
    width: 19%;
}

section input[type=text] {
    width: 100%;
    background-color: white;
    font-size: 30px;
}

.number {
    color: white;
    background-color:#003000;
}

.memory {
    background-color: #364D62;
    color: white;
}

