h1 {
      background-color:#FFFFFF; 
      color: #FF0000;
      text-transform: uppercase;
      padding: 100px 25px;
      text-align: center;     
  }
h2{
    font-weight: bolder;
    font: 400 20px Tahoma, sans-serif;
    color: #00FF00;
	background-color:#FFFFFF; 
	text-align: center; 
  }
h3{
    font: 400 18px Tahoma, sans-serif;
    font-weight: lighter;
	text-align: center; 
	color: #0000FF;
	background-color:#FFFFFF; 
}
h4{
    font: 400 18px Tahoma, sans-serif;
    font-weight: lighter;
	text-align: center; 
	color: #000000;
	background-color:#FFFFFF; 
}
h5{
    font: 400 25px Tahoma, sans-serif;
	color:#000000;
	background-color:#FFFFFF; 
}
p{
    font: 400 15px Tahoma, sans-serif;
	color:#000000;
	background-color:#FFFFFF; 
}
html{
    background-color: #FFFFFF;
	color:#000000;
}