html {
    height: 100%;
    box-sizing: border-box;
}


body {
    position: relative;
    margin: 0;
    padding-bottom: 10em;
    min-height: 100%;
    font-family: Ubuntu, Tahoma, sans-serif;
}


h1 {
    margin-top: 0;
    margin-bottom: 0;
    background-color: #000000;
    color: #fff;
    text-transform: uppercase;
    padding: 50px 0;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}

footer {
    padding: 1em 2em;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    color: white;
    background-color: black;
}

footer p {
    padding: 0;
    margin: 0;
}



section {
    margin: 5% auto 0;
    width: 75%;
    padding: 2.5%;
    background-color: #50F0FF;
	color:black;
    border-radius: 15px;
}

